.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notify {
    top: 20px;
    position: absolute;
    z-index: 999;
    width: 768px;
    padding: 10px 8px;
    margin-left: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 21px;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 2px;
    background: rgba(22, 24, 35, 0.67);
    backdrop-filter: blur(5px);
    animation: slideAnimation 2.2s ease-in-out forwards;
}

.container {
    width: var(--default-layout-width, 1500px);
    max-width: 100%;
    display: flex;
    padding-right: 34px;
    padding-left: 13px;
    margin-top: var(--default-layout-header-height);
    // padding: 0 var(--default-layout-horizontal-spacer);
}

.content {
    flex: 1;
    background-color: #333;
}
