.wrapper {
    --search-border-radius: 92px;
    --search-height-input: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    width: 100%;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    height: var(--default-layout-header-height, 60px);
    width: calc(100% + 0px);
    // top: 0px;
    // position: fixed;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(255, 255, 255);
    z-index: 1000;
    display: flex;
}

.inner {
    height: 100%;
    width: var(--default-layout-width, 1500px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 34px;
    padding-left: 13px;
    // padding: 0 var(--default-layout-horizontal-spacer);
}

// Action

.upload {
    border-color: rgba(22, 24, 35, 0.12);

    span {
        font-style: normal;
        font-weight: 600;
        color: rgb(22, 24, 35);
    }
}

.action {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    margin-left: 24px;
    padding: 4px 8px;
    background-color: transparent;
    cursor: pointer;
}

.action-btn {
    color: #161823;
    background-color: transparent;
    font-size: 2.6rem;
    padding: 4px 10px;
    cursor: pointer;
    position: relative;
    display: flex;
}

.badge {
    position: absolute;
    top: -3px;
    right: 0px;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
    font-family: 'ProximaNova', sans-serif;
    background-color: var(--primary);
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 14px;
}
