.wrapper {
    width: 232px;
    padding: 20px 0px 26px 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    min-height: 100%;
    margin-left: -15px;
}
